@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    --fonte01:Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: "Passion One", sans-serif;
    --fonte03: "Winky Rough", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}


html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte01);
}

header {
    background-color: black; /* Green */
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 4em;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte03);
}
section p {
    padding-bottom: 2em;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}

#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}


.normal{
    background-color: white;
    color: black;
    line-height: 2em;
}

.imagem{
    background-color: rgb(47, 45, 45);
    color: white;
    line-height: 2em;
}

.imagem p{
    background-color: rgba(0, 0, 0, 0.467);
    display: inline-block;
}















footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}