@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkgray;
}

header {
    background-color: black; /* Green */
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
.normal{
    background-color: white;
    color: black;
    line-height: 2em;
}

.imagem{
    background-color: rgb(47, 45, 45);
    color: white;
    line-height: 2em;
}

.imagem p{
    background-color: rgba(0, 0, 0, 0.467);
    max-width: 400px;
}















footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}