 body{
            background-color: aqua; 
            text-align: justify;
        }

        h1{
            color: blueviolet;
            background-color: aliceblue;
        }

        h2{
            color: azure;
        }

        p{
            color: blue;
        }